.details-background {
  height: 300px;
  margin-bottom: 10px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 10px;
}

.details-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.details-info {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}